{% extends 'atc_site/template/main-template.html' %}
{% load static %}
{% load user_filters %}
{% block styles %}<link rel="stylesheet" id="pagestyle" href="{% static 'soft-ui-pro/css/soft-ui-dashboard-lite.min.css' %}">{% endblock %}
{% block content %}
<link type="text/css" href="{% static 'atc_site/css/blog/blog.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'atc_site/css/events/timeline.css' %}" rel="stylesheet">

<!-- Hero Start -->
<div class="container-fluid p-0 m-0 hero bg-overlay-50">  <!--bg-overlay-40?-->
    <img class="bg-video" src="{{ event.image.url }}" id="parallaxVideo"> <!-- change to bg-video-2 to remove fixed position -->
    <div class="container px-3 py-5 bg-img">
        <div class="row g-5 mb-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
              <div class="pb-5">
                <h1 class="display-4 text-white mb-3 animated slideInRight pt-lg-5" style="font-size:3rem">{{ event.name }}</h1>
                <h4 class="text-white mb-2 animated slideInRight">{{event.location}} | {{ event.date|date:"d F, Y"  }}</h4>
                <p class="text-white animated slideInRight">{{event.description}}</p>
               
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                  {% if event.available_tickets < 0 %}
                      <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Sold Out!</a>
                  {% else %}
                      {% if event.sale_release_date < now and event.sale_end_date > now %}
                          {% if event.sale_release_date < now %}
                              {% if event.target_groups.all|length >= 1 %}
                                  {% if user|in_target_groups:event %}
                                      {% if event.stripe_price_id %}
                                          <a href="/events/{{ event.id }}/checkout/" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                      {% else %}
                                          <a href="{% url 'error_404' %}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                      {% endif %}
                                  {% else %}
                                      <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Not Available</a>
                                  {% endif %}
                              {% else %}
                                  {% if event.stripe_price_id %}
                                      <a href="/events/{{ event.id }}/checkout/" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                  {% else %}
                                      <a href="{% url 'error_404' %}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                  {% endif %}
                              {% endif %}
                          {% else %}
                              <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Sale Has Ended</a>
                          {% endif %}
                      {% else %}
                          {% if event.sale_release_date > now %}
                              <a id="countdown-{{event.id}}" class="btn btn-light disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Coming Soon!</a>
                          {% else %}
                              <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Sale Has Ended</a>
                          {% endif %}
                      {% endif %}
                  {% endif %}    
                  {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                      <a href="/events/{{event.id}}/edit/" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Edit</a>
                    {% endif %}
                  {% endif %}        
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- Blog Start -->
<div class="container-fluid py-0 pt-5 bg-light" id="blog">
    <div class="container">
        <div class="text-center my-2">
            <h2 class="fw-bold mb-1">{{event.name}}</h2>
            <small class="mb-3">{{event.location}} | {{ event.date|date:"d F, Y"  }}</small>
        </div>
        <div class="pb-3">
            <hr style="margin-left:25%" width="50%">
            <div class="mx-5">
                <p class="text-muted my-2 mx-5 text-center"><i>{{event.description}}</i></p> 
            </div>
            <hr style="margin-left:10%" width="80%">
        </div>
        {% if schedule|length > 0 %}
          <div class="row mb-5">
            <div class="col-lg-3 d-flex align-items-center">
              <h1 class="text-center">Event Schedule</h1>
            </div>
            <div class="col-lg-9">
              <div class="row">
                <div class="card bg-white">

                  <div class="card-body p-0">

                    <div data-toggle="widget-calendar-schedule"></div>
              
                  </div> 
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if food_and_drinks|length > 0 %}
          <div class="row mb-5">
            <div class="col-lg-9">
              <div class="row">
                <div class="card bg-white">
                  <div class="card-body p-0">
                    <div class="row d-flex">
                      {% for item in food_and_drinks %}
                        <div class="col-sm-3 d-flex" style="max-height: 300px;min-width:250px">
                          <div class="card my-2">
                            <div class="card-body p-0">
                              <div class="row" style="height:45%">
                                <img src="{{ item.image.url }}" class="img-fluid rounded-img h-100 image-cover" alt="{{ item.name }}">
                              </div>
                              <div class="row p-2">
                                <div class="d-flex"><h5 class="card-title">{{ item.name }}</h5><b class="ms-auto">${{ item.price }}</b></div>
                                <p class="card-text">{{ item.description }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <h1 class="text-center">Event Food and Drinks</h1>
            </div>
          </div>
        {% endif %}
        {% if vouchers|length > 0 %}
          <div class="row mb-5" style="min-height: 300px; max-height:450px">
            <div class="col-lg-3 d-flex align-items-center">
              <h1 class="text-center">Event Vouchers</h1>
            </div>
            <div class="col-lg-9 h-100" >
              <div class="row">
                <div class="card bg-white h-100" style="min-height: 400px; max-height:450px">
                  <div class="card-body p-0 h-100">
                    <div class="row d-flex h-100">
                      {% for item in vouchers %}
                        <div class="col-12 col-lg-4 d-flex h-100" style="min-height: 400px; max-height:450px">
                          <div class="card my-2">
                            <div class="card-body p-0">
                              <div class="row" style="height:55%">
                                <img src="{{ event.image.url }}" class="img-fluid rounded-img h-100 image-cover" alt="{{ item.name }}">
                              </div>
                              <div class="row p-2">
                                <div class="d-flex"><h5 class="card-title">{{ item.name }}</h5><b class="ms-auto">${{ item.price }}</b></div>
                                <p class="card-text">{{ item.description }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>

        {% endif %}
        
        <div class="container-fluid p-0 bg-light m-0">
          <h1 class="text-center mb-0">Event Timeline</h1>
          <div class="timeline mb-0 mt-0">
            {% if event.creation_time %}
              <div class="timeline-row">
                <div class="timeline-time">
                  {{event.creation_time|date:"d M, Y"}}<small>{{event.creation_time|date:"h:i"}} {% if event.creation_time|date:"h" >= 12 %}PM{%else%}AM{%endif%}</small>
                </div>
                <div class="timeline-content" style="width:84.75%">
                  <i class="fa fa-calendar p-2 bg-dark text-white rounded-circle"></i>
                  <h4>{{ event.name }} Was Created!</h4>
                  <p class="text-center">
                    Save the date becuase {{ event.name }} is up and coming! Make sure you book your tickets before the sale finishes or they sell out!
                  </p>    
                </div>
              </div>
            {% endif %}
            {% if event.sale_release_date %}
              <div class="timeline-row">
                <div class="timeline-time">
                  {{event.sale_release_date|date:"d M, Y"}}<small>{{event.sale_release_date|date:"h:i"}} {% if event.sale_release_date|date:"h" >= 12 %}PM{%else%}AM{%endif%}</small>
                </div>
                <div class="timeline-content" style="width:84.75%">
                  <i class="fa fa-ticket p-2 bg-dark text-white rounded-circle"></i>
                  <h4>Tickets Go On Sale</h4>
                  <p class="text-center">
                    Tickets go on sale, if you are in the target group you will be able to book it the second it goes on sale.
                  </p>
                  <div>
                    {% if event.available_tickets < 0 %}
                      <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Sold Out!</a>
                    {% else %}
                        {% if event.sale_release_date < now and event.sale_end_date > now %}
                            {% if event.sale_release_date < now %}
                                {% if event.target_groups.all|length >= 1 %}
                                    {% if user|in_target_groups:event %}
                                        {% if event.stripe_price_id %}
                                            <a href="/events/{{ event.id }}/checkout/" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                        {% else %}
                                            <a href="{% url 'error_404' %}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Not Available</a>
                                    {% endif %}
                                {% else %}
                                    {% if event.stripe_price_id %}
                                        <a href="/events/{{ event.id }}/checkout/" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                    {% else %}
                                        <a href="{% url 'error_404' %}" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Book Now!</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Sale Has Ended</a>
                            {% endif %}
                        {% else %}
                            {% if event.sale_release_date > now %}
                                <a id="countdown-{{event.id}}" class="btn btn-light disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Coming Soon!</a>
                            {% else %}
                                <a class="btn btn-danger disabled py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Sale Has Ended</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}   
                  </div>
                </div>
              </div>
            {% endif %}
            {% if event.sale_end_date %}
              <div class="timeline-row">
                <div class="timeline-time">
                  {{event.sale_end_date|date:"d M, Y"}}<small>{{event.sale_end_date|date:"h:i"}} {% if event.sale_end_date|date:"h" >= 12 %}PM{%else%}AM{%endif%}</small>
                </div>
                <div class="timeline-content" style="width:84.75%">
                  <i class="fa fa-exclamation-triangle p-2 bg-dark text-white rounded-circle"></i>
                  <h4>Tickets Sale Ends</h4>
                  <p>Make sure you book your tickets before this day, once the sale finishes no more tickets can be purchased!</p>
                </div>
              </div>
            {% endif %}
        
            {% if event.date %}
              <div class="timeline-row">
                <div class="timeline-time">
                  {{event.date|date:"d M, Y"}}<small>{{event.time|date:"h:i"}} {% if event.time|date:"h" >= 12 %}PM{%else%}AM{%endif%}</small>
                </div>
                <div class="timeline-content" style="width:84.75%">
                  <i class="fa-regular fa-calendar-xmark p-2 bg-dark text-white rounded-circle"></i>
                  <h4>Day of {{event.name}}!</h4>
                  <p class="text-center">The day of the event! please make sure you have your ticket on you when attending {{ event.name }}. Also keep informed of any updates to the event!</p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Blog End -->

<!-- social Start -->
<div class="container-fluid mt-0 py-2 bg-secondary">
    <div class="contaiiner py-2 px-2">
      <div class="row d-flex">
        <div class="col-md-2 my-2" id="child-element">
            <div class="d-flex rounded p-3 wow fadeInLeft" data-wow-delay="0.45s" style="background: rgba(256, 256, 256, 0.1);">
                <i class="fa fa-money-bill fa-3x text-white"></i>
                <div class="ps-3">
                    <h2 class="text-white mb-0" data-toggle="counter-up">{{ event.sold }}</h2>
                    <p class="text-white mb-0">Tickets sold</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 my-2" id="child-element">
            <div class="d-flex rounded p-3 wow fadeInLeftBig" data-wow-delay="0.1s" style="background: rgba(256, 256, 256, 0.1);">
                <i class="fa fa-ticket fa-3x text-white"></i>
                <div class="ps-3">
                    <h2 class="text-white mb-0" data-toggle="counter-up">{{ event.available_tickets }}</h2>
                    <p class="text-white mb-0">Tickets Left</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2"  id="big-child-element">
          {% if event.available_tickets < 0 %}
            <a class="text-white"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
              <h2 style="font-size:3em" class="text-white">Sold Out!</h2>
            </div></a>
          {% else %}
            {% if event.sale_release_date < now and event.sale_end_date > now %}
              {% if event.target_groups.all|length >= 1 %}
                {% if user|in_target_groups:event %}
                  {% if event.stripe_price_id %}
                    <a class="text-white" href="/events/{{ event.id }}/checkout/"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
                      <h2 style="font-size:3em" class="text-white">Book Now!</h2>
                    </div></a>
                  {% else %}
                    <a class="text-white" href="{% url 'error_404' %}"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
                      <h2 style="font-size:3em" class="text-white">Book Now!</h2>
                    </div></a>
                  {% endif %}
                {% else %}
                  <a class="text-white"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
                    <h2 style="font-size:3em" class="text-white">Not Available!</h2>
                  </div></a>
                {% endif %}
              {% else %}
                {% if event.stripe_price_id %}
                  <a class="text-white" href="/events/{{ event.id }}/checkout/"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
                    <h2 style="font-size:3em" class="text-white">Book Now!</h2>
                  </div></a>
                {% else %}
                  <a class="text-white" href="{% url 'error_404' %}"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
                    <h2 style="font-size:3em" class="text-white">Book Now!</h2>
                  </div></a>
                {% endif %}
              {% endif %} 
            {% else %}
              {% if event.sale_release_date > now %}
                <a class="text-white"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
                  <h2 style="font-size:3em" class="text-white">Coming Soon!</h2>
                </div></a>
              {% else %}
                <a class="text-white"><div class="d-flex align-items-center justify-content-center rounded p-3 wow fadeIn text-center" data-wow-delay="0.6s" style="background: rgba(256, 256, 256, 0.1);">
                  <h2 style="font-size:3em" class="text-white">Sale Has Ended!</h2>
                </div></a>
              {% endif %}
            {% endif %}
          {% endif %}

          
        </div>
        <div class="col-md-2 my-2" id="child-element">
            <div class="d-flex rounded p-3 wow fadeInRightBig" data-wow-delay="0.1s" style="background: rgba(256, 256, 256, 0.1);">
                <i class="fa-solid fa-dollar-sign fa-3x text-white"></i>
                <div class="ps-3">
                    <h2 class="text-white mb-0" data-toggle="counter-up">{{ event.ticket_price|floatformat:"2" }}</h2>
                    <p class="text-white mb-0">Ticket Price</p> <!-- if 0 then free -->
                </div>
            </div>
        </div>
        <div class="col-md-2 my-2" id="child-element">
            <div class="d-flex rounded p-3 wow fadeInRight" data-wow-delay="0.45s" style="background: rgba(256, 256, 256, 0.1);">
                <i class="fa-solid fa-calendar-days fa-3x text-white"></i>
                <div class="ps-3">
                    <h2 class="text-white mb-0" data-toggle="counter-up">{{ days_to_go }}</h2>
                    <p class="text-white mb-0">Days Till Event</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- social End -->

<script src="https://kit.fontawesome.com/02870e7611.js" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      {% if event.sale_release_date > now %}
          createCountdown('{{ event.sale_release_date.isoformat }}', '{{ event.id }}');
      {% endif %}
  });

  function createCountdown(sale_release_date, id) {
    var countDownDate = new Date(sale_release_date).getTime();

    var countdownFunction = setInterval(function() {
        var now = new Date().getTime();

        if (now > countDownDate) {
            clearInterval(countdownFunction);
            window.location.reload();
        }

        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        var countdownElement = document.getElementById("countdown-" + id);
        if (countdownElement) {
            countdownElement.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
        } else {
            clearInterval(countdownFunction); // Stop interval if element is not found
        }
    }, 1000);
  }


    function link() {
        var element = document.getElementById("home-link");
        element.classList.add("active");
        var nav = document.getElementById("navbar")
        nav.classList.add("bg-overlay-50")
    };
    link();

    
</script>
<script src="{% static '/soft-ui-pro/js/core/popper.min.js' %}"></script>
<script src="{% static '/soft-ui-pro/js/core/bootstrap.min.js' %}"></script>
<script src="{% static '/soft-ui-pro/js/plugins/fullcalendar.min.js' %}"></script>
<script src="{% static '/soft-ui-pro/js/plugins/chartjs.min.js' %}"></script>
<script src="{% static 'soft-ui-pro/js/plugins/threejs.js' %}"></script>
<script src="{% static 'soft-ui-pro/js/plugins/flatpickr.min.js' %}"></script>
<script src="{% static 'soft-ui-pro/js/plugins/fullcalendar.min.js' %}"></script>
<script src="{% static '/soft-ui-pro/js/plugins/dragula/dragula.min.js' %}"></script>
<script src="{% static '/soft-ui-pro/js/plugins/jkanban/jkanban.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="{% static 'soft-ui-pro/js/soft-ui-dashboard.min.js' %}"></script>

<script>
  calendarEl = document.querySelector('[data-toggle="widget-calendar-schedule"]');
  var events = [
    {% for event_item in schedule %}
      {% get_random 'bg-gradient-primary' 'bg-gradient-secondary' 'bg-gradient-success' 'bg-gradient-danger' 'bg-gradient-warning' 'bg-gradient-info'  'bg-gradient-dark' as random_style %}
      {
          title: '{{ event_item.event_item.title }}-{{ event_item.id}}',
          start: '{{event.date|date:"Y-m-d"}}T{{ event_item.event_item.start_time|date:"H:i" }}',
          end: '{{event.date|date:"Y-m-d"}}T{{ event_item.event_item.end_time|date:"H:i" }}',
          className: '{{random_style}}'
      },
    {% endfor %}
  ];

  calendar = new FullCalendar.Calendar(calendarEl,{
      contentHeight: "400px",
      initialView: "timeGridDay",
      selectable: !1,
      initialDate: '{{event.date|date:"Y-m-d"}}T{{event.time|date:"H:i"}}',
      editable: !1,
      headerToolbar: !1,
      events: events
  }).render();
</script>
{% endblock %}