
{% load static %}

<link rel="stylesheet" href="{% static '//css//chatbot//main.css' %}">
{% if is_authenticated %}
  <div class="container chatbox">
    <div class="row">
    <div id="Smallchat">
      <div class="Layout Layout-open Layout-expand Layout-right" style="background-color: var(--primary);color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
        <div class="Messenger_messenger">
          <div class="Messenger_header" style="background-color: var(--primary); color: rgb(255, 255, 255); box-shadow: #000000 10px">
            <h4 class="Messenger_prompt">RainCheckAI</h4>
            <span class="chat_close_icon"><i class="fa fa-window-close" aria-hidden="true"></i></span> 
            <div class="model_switch ms-2 wow fadeIn" data-wow-delay="1s">
              <select id="modelSelect" onchange="SelectModel()" class="model-selector">
                  <option id="gpt-3.5-turbo-1106" value="gpt-3.5-turbo-1106">GPT-3</option>
                  <option id="gpt-4-1106-preview" value="gpt-4-1106-preview">GPT-4</option>
              </select>
            </div>
          </div>
          <div class="Messenger_content">
            <div class="Messages">
              <div class="Messages_list">
                <div class="d-flex flex-row p-1" style="justify-content: flex-end">
                  <div class="chat message mr-2 p-3 wow jackInTheBox" data-wow-delay=".25s"><small>Raincheck</small><br>Hello! I am RainCheck, your personal weather assistant. How can I help you?</div>
                </div>
              </div>
            </div>
            <div class="Input Input-blank">
              <div class="top"></div>
              <textarea class="Input_field" placeholder="Send a message..." style="height: 15px;color:white"></textarea>
              <button class="Input_button Input_button-send">
                <div class="Icon" style="width: 18px; height: 18px;">
                  <svg width="57px" height="54px" viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 18px; height: 18px;">
                    <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                      <path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--===============CHAT ON BUTTON STRART===============-->
      <div class="chat_on wow fadeIn" data-wow-delay="1.25s"> <span class="chat_on_icon"><i class="fa fa-comments" aria-hidden="true"></i></span> </div>
      <!--===============CHAT ON BUTTON END===============-->
    </div>
  </div>
{% endif %}
  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    function resetMessages() {
      fetch('/chat/reset/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken'), 
          },
      })
      .then(response => response.json())
      .then(data => {
          console.log(data); 
      })
    };
    
    window.addEventListener('load', function() {
      resetMessages();
    });

    $(document).ready(function(){
      $(".chat_on").click(function(){
          $(".Layout").toggle();
          $(".chat_on").hide(300);
      });
      
         $(".chat_close_icon").click(function(){
          $(".Layout").hide();
             $(".chat_on").show(300);
      });
      
    });

    $(document).click(function(event) {
      // Check if the clicked target is not the chatbox, not a descendant of the chatbox, and not the .chat_on button
      if (!$(event.target).closest('.Layout').length && !$(event.target).closest('.chat_on').length) {
          // Hide the chatbox
          $(".Layout").hide();
          $(".chat_on").show(300);
      }
    });

    var requestInProgress = false;

    $('.Input_button-send').click(function() {
      if (requestInProgress) {
        $('.Input_field').val('');
        return;
      }

      var userMessage = $('.Input_field').val();
  
      // Check if the input field is not empty
      if(userMessage.trim() === '') {
          alert('Please enter a message.');
          return;
      }
  
      $('.Input_field').val(''); // Clear the input field
      $('.Messages_list').append('<div class="d-flex flex-row p-1 py-2"><div class="bg-white message ml-2 p-3"><small>You</small><br>' + userMessage + '</div></div>');

      requestInProgress = true;

      $.ajax({
          url: '/chat/',  // The URL to chat endpoint
          method: 'POST',
          data: {
              message: userMessage,
          },
          success: function(response) {
              // Add chatbot Message
              $('.Messages_list').append('<div class="d-flex flex-row p-1"><div class="chat message mr-2 p-3"><small>Raincheck</small><br>' + response.message + '</div></div>');
          },
          complete: function() {
            requestInProgress = false;
          }
      });
  });

  $('.Input_field').keypress(function(e) {
    if(e.which == 13) { // Enter key pressed
        $('.Input_button-send').click(); // Trigger the button click event
    }
  });

  function SelectModel() {
    requestInProgress = true;

    var model = document.getElementById('modelSelect').value;
    var model_user = document.getElementById(model).innerHTML;

    $.ajax({
      url: '/chat/change_model/',  // The URL to your chat endpoint
      method: 'POST',
      data: {
          model: model,
      },
      success: function(response) {
          // This is where you handle the chatbot's response
          $('.Messages_list').append('<div class="d-flex flex-row p-1"><div class="chat message mr-2 p-3"><small>Raincheck</small><br>You are now using the ' + model_user + ' model</div></div>');
      },
      complete: function() {
        // Set the flag back to false to indicate that the request is complete
        requestInProgress = false;
      }
    });
  }

  </script>
  <script src="{% static '//js//chatbot//shadow.js' %}"></script>
</div>
