{% extends 'atc_site/template/login-signup.html' %}
{% load static %}           
{% block content %}                   
    <img style="width: 150px;padding-bottom:5%;" class="logo" src="{% static '//atc_site//images/logos/atc-logo.svg' %}">   <!-- school logo -->
    <form>   <!-- creates a form and calls upon the function contact_form_page and set's the method to POST-->
        <h1 style="padding-bottom:5%;">Your Order Has Been Confirmed!</h1>
        <p style="padding-bottom:5%;">Thank you for booking, to view your order, press the button bellow</p>
        <a href="/account" class="submit btn-a">View Booking</a> 
        <a href="/" class="go_back btn-a">Home</a>                                            
    </form> 
{% endblock %} 
