
{% extends 'atc_site/template/dashboard.html' %} 
{% load static %} 
{% load date_extras %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">               
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">All Invoices</h5>
                            <p class="text-sm mb-0">
                                All Invoices for all Bookings!
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">
                                <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog mt-lg-10">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
                                                <i class="fas fa-upload ms-3" aria-hidden="true"></i>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>You can browse your computer for a file.</p>
                                                <div action="/vendor/dashboard/items/upload/" class="form-control dropzone dz-clickable productImg" id="productImg"><div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div></div>
                                                <div class="form-check">
                                                    <input class="form-check-input dropbox" type="checkbox" value="" id="importCheck" checked="">
                                                    <label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn bg-gradient-primary btn-sm">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv" type="button" name="button">Export</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"><div class="dataTable-top"><div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div><div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container"><table class="table table-flush dataTable-table" id="products-list">
                            <thead class="thead-light">
                                <tr><th data-sortable="" style="width: 21.8413%;"><a href="#" class="dataTable-sorter">Event</a></th><th data-sortable="" style="width: 18.1757%;"><a href="#" class="dataTable-sorter">Customer</a></th><th data-sortable="" style="width: 11.2542%;"><a href="#" class="dataTable-sorter">Revenue</a></th><th data-sortable="" style="width: 11.2542%;"><a href="#" class="dataTable-sorter">Currency</a></td><th data-sortable="" style="width: 18.2542%;"><a href="#" class="dataTable-sorter">Items</a></th><th data-sortable="" style="width: 15.4176%;"><a href="#" class="dataTable-sorter">Status</a></th><th data-sortable="" style="width: 15.4176%;"><a href="#" class="dataTable-sorter">Creation Date</a></th><th data-sortable="" style="width: 16.1849%;"><a href="#" class="dataTable-sorter">Action</a></th></tr>
                            </thead>
                            <tbody>
                                {% for item, booking in invoices %}
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <img class="w-10 ms-3" style="object-fit:cover; border-radius: 5px" src="{{ booking.event.image.url }}" alt="{{booking.event.name}}">
                                                <h6 class="ms-3 my-auto">{{booking.event.name}}</h6>
                                            </div>
                                        </td>
                                        <td class="text-sm">{{item.customer_email}}</td>
                                        <td class="text-sm">${{item.subtotal|div:100}}</td>
                                        <td class="text-sm">{{ item.lines.data.0.price.currency|upper }}</td>
                                        <td class="text-sm">
                                            {% if item.lines|length > 2 %}
                                                {% for line in item.lines %}
                                                    {% if forloop.counter <= 2 %}
                                                        <span class="badge badge-secondary badge-sm">{{ line.quantity }} x {{ line.description }}</span>
                                                    {% else %}
                                                        {% if forloop.counter == 3 %}
                                                            <div id="expandableSection-{{item.id}}" style="display:none;">
                                                        {% endif %}
                                                        <span class="badge badge-secondary badge-sm">{{ line.quantity }} x {{ line.description }}</span>
                                                        {% if forloop.counter == item.lines|length %}
                                                            </div>
                                                            <a class="badge badge-dark bg-primary text-white me-2 mt-1" href="javascript:void(0);" onclick="toggleSection('{{item.id}}')">Show More</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% for line in item.lines %}
                                                    <span class="badge badge-secondary badge-sm">{{ line.quantity }} x {{ line.description }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if not item.status == 'paid' %}
                                                <span class="badge badge-warning badge-sm">{{ item.status }}</span>
                                            {% else %}
                                                <span class="badge badge-success badge-sm">{{ item.status}}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ booking.creation_time|date:"d M, Y" }}
                                        </td>
                                        <td class="text-sm">
                                            <a href="{{item.hosted_invoice_url}}" data-bs-toggle="tooltip" data-bs-original-title="View Order">
                                                <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                                            </a>
                                            <a href="{{item.invoice_pdf}}" class="ms-3" data-bs-toggle="tooltip" data-bs-original-title="View Invoice">
                                                <i class="fas fa-file-invoice text-secondary" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody> 
                        </table></div>
                        {% if invoices|length == 0 %}
                            <div class="text-center">
                                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                                <h5 class="text-center">Their No Items To Display!</h5>
                                <small class="text-center">If you believe this is a mistake, please <a href="/#contact">contact us!</a></small>
                            </div>
                        {% endif %}
                        <div class="dataTable-bottom"><div class="dataTable-info">Showing 1 to 7 of 15 entries</div><nav class="dataTable-pagination"><ul class="dataTable-pagination-list"><li class="pager"><a href="#" data-page="1">‹</a></li><li class="active"><a href="#" data-page="1">1</a></li><li class=""><a href="#" data-page="2">2</a></li><li class=""><a href="#" data-page="3">3</a></li><li class="pager"><a href="#" data-page="2">›</a></li></ul></nav></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (document.getElementById('products-list')) {
        const dataTableSearch = new simpleDatatables.DataTable("#products-list", {
            searchable: true,
            fixedHeight: false,
            perPage: 7
        });
        
        document.querySelectorAll(".export").forEach(function(el) {
            el.addEventListener("click", function(e) {
                var type = el.dataset.type;
                
                var data = {
                    type: type,
                    filename: "soft-ui-" + type,
                };
                
                if (type === "csv") {
                    data.columnDelimiter = "|";
                }
                
                dataTableSearch.export(data);
            });
        });
    };

  
    function toggleSection(item_id) {
        console.log(item_id);
        var section = document.getElementById("expandableSection-"+item_id);
        console.log(section);
        if (section.style.display === "none") {
            section.style.display = "block";
            event.target.textContent = "Show Less";
        } else {
            section.style.display = "none";
            event.target.textContent = "Show More";
        }
    }


</script>


{% endblock %}