
{% extends 'atc_site/template/dashboard.html' %} 
{% load static %} 
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">               
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">All Users</h5>
                            <p class="text-sm mb-0">
                                All of the sites users!
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">
                                <button type="button" class="btn btn-outline-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#import">
                                    Import
                                </button>
                                <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog mt-lg-10">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
                                                <i class="fas fa-upload ms-3" aria-hidden="true"></i>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>You can browse your computer for a file.</p>
                                                <div action="/vendor/dashboard/items/upload/" class="form-control dropzone dz-clickable productImg" id="productImg"><div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div></div>
                                                <div class="form-check">
                                                    <input class="form-check-input dropbox" type="checkbox" value="" id="importCheck" checked="">
                                                    <label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn bg-gradient-primary btn-sm">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv" type="button" name="button">Export</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"><div class="dataTable-top"><div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div><div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container"><table class="table table-flush dataTable-table" id="products-list">
                            <thead class="thead-light">
                                <tr><th data-sortable="" style="width: 21.8413%;"><a href="#" class="dataTable-sorter">Email</a></th><th data-sortable="" style="width: 11.1757%;"><a href="#" class="dataTable-sorter">First Name</a></th><th data-sortable="" style="width: 11.2542%;"><a href="#" class="dataTable-sorter">Last Name</a></th><th data-sortable="" style="width: 12.2542%;"><a href="#" class="dataTable-sorter">is_staff</a></th><th data-sortable="" style="width: 12.2542%;"><a href="#" class="dataTable-sorter">is_superuser</a></th><th data-sortable="" style="width: 12.2542%;"><a href="#" class="dataTable-sorter">is_active</a></th><th data-sortable="" style="width: 16.1849%;"><a href="#" class="dataTable-sorter">Action</a></th></tr>
                            </thead>
                            <tbody>
                                {% for item in users %}
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                {% if item.avatar %}
                                                    <img class="w-10 ms-3" style="object-fit:cover; border-radius: 5px" src="{{ item.avatar.url }}" alt="{{item.name}}">
                                                {% else %}
                                                    <img class="w-10 ms-3" style="object-fit:cover; border-radius: 5px" src="https://api.dicebear.com/6.x/initials/svg?seed={{item.first_name}}&randomizeIds=true" alt="{{item.name}}">
                                                {% endif %}
                                                <h6 class="ms-3 my-auto">{{item.email}}</h6>
                                            </div>
                                        </td>
                                        <td class="text-sm">{{item.first_name}}</td>
                                        <td class="text-sm">{{item.last_name}}</td>
                                        <td class="text-sm">
                                            {% if item.is_staff %}
                                                <span class="badge badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-danger">False</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-sm">
                                            {% if item.is_superuser %}
                                                <span class="badge badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-danger">False</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-sm">
                                            {% if item.is_active %}
                                                <span class="badge badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-danger">False</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-sm">
                                            <a href="/adminatc_site/customuser/{{item.id}}/change/" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit user">
                                                <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                                            </a>
                                            <a onclick="confirmDelete({{item.id}})" data-bs-toggle="tooltip" data-bs-original-title="Delete user">
                                                <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody> 
                        </table></div>
                        {% if users|length == 0 %}
                            <div class="text-center">
                                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                                <h5 class="text-center">Their No Items To Display!</h5>
                                <small class="text-center">If you believe this is a mistake, please <a href="/#contact">contact us!</a></small>
                            </div>
                        {% endif %}
                        <div class="dataTable-bottom"><div class="dataTable-info">Showing 1 to 7 of 15 entries</div><nav class="dataTable-pagination"><ul class="dataTable-pagination-list"><li class="pager"><a href="#" data-page="1">‹</a></li><li class="active"><a href="#" data-page="1">1</a></li><li class=""><a href="#" data-page="2">2</a></li><li class=""><a href="#" data-page="3">3</a></li><li class="pager"><a href="#" data-page="2">›</a></li></ul></nav></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (document.getElementById('products-list')) {
        const dataTableSearch = new simpleDatatables.DataTable("#products-list", {
            searchable: true,
            fixedHeight: false,
            perPage: 7
        });
        
        document.querySelectorAll(".export").forEach(function(el) {
            el.addEventListener("click", function(e) {
                var type = el.dataset.type;
                
                var data = {
                    type: type,
                    filename: "soft-ui-" + type,
                };
                
                if (type === "csv") {
                    data.columnDelimiter = "|";
                }
                
                dataTableSearch.export(data);
            });
        });
    };

    function confirmDelete(item_id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#7367f0',
            cancelButtonColor: '#28c76f',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                ).then((result) => {
                    if (result.isConfirmed) {
                        window.location.replace('/admin/dashboard/users/'+item_id+'/delete/');
                    }
                });
            }
        })
    }

</script>


{% endblock %}